table {
  margin: 15px;
  width: 100%;
}

.mat-header-cell {
  background-color: #004a93;
  color: white;
  font-weight: bold;
  border: 1px darkgray solid;
  padding: 0 24px !important;
  text-align: center;
  font-size: 1.5em;
}

.mat-footer-cell {
  border: 1px rgba(0, 0, 0, 0.12) solid;
  padding: 0 24px !important;
  text-align: right;
}

.mat-cell {
  border: 1px rgba(0, 0, 0, 0.12) solid;
  padding: 0 24px !important;
  font-size: 1em;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.center-body {
  justify-content: center;
  display: flex;
}

.row-form {
  width: 1%;
}

.row-date-time {
  width: 14%;
}