.tableFixHead {
  overflow-y: auto;
  height: 100px;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
}

/* Just common table stuff. Really. */

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px 16px;
  /* border: 1px solid black; */
}

th {
  background: #eee;
}

.row-No {
  width: 5%;
}
.row-event-massage {
  width: 35%;
}
.row-form{
  width: 5%;
}

.row-by{
  width: 25%;
}
.row-date-time{
  width: 20%;
}
.row-field-name{
  width: 10%;
}