<div class="container-fluid">
  <h3 style="text-align: center;"><strong>LOGS</strong></h3>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field style="width: 50%; display: flex; flex-direction: column; padding: 15px;">
        <mat-label>Search</mat-label>
        <input matInput autocomplete="off" [(ngModel)]="searchFilter" (keypress)="applyFilter(searchFilter)">
      </mat-form-field>
      <div class="col-md-12">
        <div class="d-flex justify-content-start">
          <div class="row">
            <div class="col-md-12">
              <a style="color: green; font-size: 1em;">● green color = Add</a>
            </div>
            <div class="col-md-12">
              <a style="color: #FFC30B; font-size: 1em;">● yellow color = Modify</a>
            </div>
            <div class="col-md-12">
              <a style="color: #B30606; font-size: 1em;">● red color = Remove</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex justify-content-end align-items-end">
            <div>
              <label for="selectFilterLogs">Fliter Form IDs: &nbsp;&nbsp;</label>
            </div>
            <div style="width: 20%;">
              <select id="selectFilterLogs" class="form-control" [(ngModel)]="formIdFilter" (click)="filter()">
                <ng-container *ngFor="let item of options">
                  <option id="{{item.name}}+Log" value={{item.id}}>{{item.name}}</option>
                </ng-container>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-4 offset-md-4 align-bottom" style="text-align:right; font-size: 1.2em;">Filter Form IDs:</div>
    <div class="col-md-4 offset-md-4 ml-auto">
      <select id="selectFilterLogs" class="form-control" [(ngModel)]="formIdFilter" (click)="filter()">
        <ng-container *ngFor="let item of options">
          <option id="{{item.name}}+Log" value={{item.id}}>{{item.name}}</option>
        </ng-container>
      </select>
    </div>
  </div> -->
</div>
<br />
<div class="center-body">
  <div class="row" style="width: 100%;">
    <table mat-table [dataSource]="dataSource" id="table_log" class="mat-elevation-z8">
      <ng-container matColumnDef="date_time">
        <th mat-header-cell *matHeaderCellDef class="row-date-time">
          Date
        </th>
        <td mat-cell *matCellDef="let element">
          <a>{{element.date_of_event | date:'medium'}}
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="event_message">
        <th mat-header-cell *matHeaderCellDef class="row-event-massage">
          Event Message</th>
        <td mat-cell *matCellDef="let element"><a>{{element.log_objects.event_message}}</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="form_id">
        <th mat-header-cell *matHeaderCellDef class="row-form">Action</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">
          <a
            [ngStyle]="{'color': element.log_objects.form_id == '001'? 'green':(element.log_objects.form_id == '002'? '#FFC30B': '#B30606')}">{{element.log_objects.form_id==='001'?'Add':(element.log_objects.form_id ==='002'?'Modify':'Remove')}}
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="by">
        <th mat-header-cell *matHeaderCellDef class="row-by">By</th>
        <td mat-cell *matCellDef="let element"><a>{{element.admin.email}}
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="element_name">
        <th mat-header-cell *matHeaderCellDef class="row-field-name">
          Field Name</th>
        <td mat-cell *matCellDef="let element"><a>
            {{element.log_objects.element_name}} </a></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="column"></tr>
      <tr mat-row *matRowDef="let row; columns:column;"></tr>
    </table>
    <div class="col-md-12" style="text-align: center;">
      <div *ngIf="dataSource.filteredData.length === 0"><br />No data</div>
    </div>
  </div>
</div>
<mat-paginator [pageSizeOptions]="[15,20,30]" showFirstLastButtons></mat-paginator>