<div class="container-fluid">
  <h1 style="text-align: center;">Logs</h1>
</div>
<div class="container-fluid">
  <table class="table table-bordered" style="text-align: center;">
    <thead>
      <tr>
        <th scope="col">Log ID</th>
        <th scope="col-6">Event Message</th>
        <th scope="col">Form ID</th>
        <th scope="col-6 col-md-4">By</th>
        <th scope="col">Date Time</th>
        <th> Element Name</th>
      </tr>
    </thead>
    <tbody *ngIf="contents != undefined">
      <tr *ngFor="let logContent of contents.content; let i = index;">
        <ng-container *ngIf="logContent.log_objects.length > 1">
          <ng-container *ngFor="let item of logContent.log_objects">
            <td>{{i+1}}</td>
            <td>{{item.event_message}}</td>
            <td>{{item.form_id}}</td>
            <td>{{logContent.admin.admin_no}}</td>
            <td>{{logContent.date_of_event | date:'medium'}}</td>
            <td>{{item.element_name}}</td>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="logContent.log_objects.length == 1">
          <td>{{i+1}}</td>
          <td>{{logContent.log_objects[0].event_message}}</td>
          <td>{{logContent.log_objects[0].form_id}}</td>
          <td>{{logContent.admin.admin_no}}</td>
          <td>{{logContent.date_of_event | date:'medium'}}</td>
          <td>{{logContent.log_objects[0].element_name}}</td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>