
   <!-- START BUTTON: ADD, MODIFY AND REMOVE-->
    <div class="site-wrapper">

        <div class="site-wrapper-inner">
    
          <div class="container">
    
            <div class="inner cover">
              <h1 class="cover-heading center" >Employee information management </h1>
              <p class="lead" ><b class="text-success">Add:</b> Add new employee information by pressing Button 'Yes'. All values ​​in the field will be sent to BACKEND using the "POST addEmployee()" method to store in the database and the "POST createLog()" method to be sent to the Log to create a history of the movement of the users who have entered the work.</p>
              <p>____</p>
              <p class="lead"><b class="text-warning">Modify:</b> Modifying employee information works like an 'ADD' function and calls the "PUT modifiedEmployee()" method to update the most recently modified employee information to BACKEND.</p>
              <p>____</p>
              <p class="lead"><b class="text-danger">Remove:</b> Deletion of employee data is performed by pressing the 'REMOVE' button and pressing the 'YES' button to send the employee's information to BACKEND and delete the information by changing this employee's status from Active to Deactive by hiding the information. Can't see But still have this user information in the database In order to maintain information for old employees And in case of returning to work Can retrieve this data back to use by 'ADD' function. And the method "GET getEmployeeById ()" was used before the user removing the data. To review the information before removing.</p>
              <p class="lead">
              <br/>
                <button id="btnAdd" href="./form/add" [routerLink]="['/form/add']" type="button" class="btn btn-success btn-block btn-lg active">ADD</button>
                <br />
                <button id="btnModify" href="./form/modify" [routerLink]="['/form/add']" type="button" class="btn btn-warning btn-block btn-lg active">MODIFY</button>
                <br /> 
                <button id="btnRemove" href="./form/remove" [routerLink]="['/form/add']" type="button" class="btn btn-danger btn-block btn-lg active">REMOVE</button>
                <br/>
              </p>
            </div>
    
          </div>
    
        </div>
    
      </div>

   <!-- END BUTTON: ADD, MODIFY AND REMOVE-->
