<!-- START BUTTON: ADD, MODIFY AND REMOVE-->
<div class="site-wrapper">
  <div class="site-wrapper-inner">

    <div class="container">

      <div class="inner cover">
        <h1 class="cover-heading" style="text-align: center;">EMPLOYEE INFORMATION MANAGEMENT </h1>
        <p class="lead">
          <br />
          <button id="btnAdd" href="./form/add" [routerLink]="['/form/add']" type="button"
            class="btn btn-success btn-block btn-lg add-btn">ADD</button>
          <br />
          <button id="btnModify" href="./form/modify" [routerLink]="['/form/modify']" type="button"
            class="btn btn-warning btn-block btn-lg modify-btn" style="color:white">MODIFY</button>
          <br />
          <button id="btnRemove" href="./form/remove" [routerLink]="['/form/remove']" type="button"
            class="btn btn-danger btn-block btn-lg remove-btn">REMOVE</button>
          <br />
        </p>
      </div>

    </div>

  </div>

</div>




<!-- END BUTTON: ADD, MODIFY AND REMOVE-->