<!-- FORM EMPLOYEE DETAIL -->
<div class="container">
  <div class="text-center">
    <h3>MODIFY EMPLOYEE INFORMATION</h3>
  </div>
  <div class="row">
    <div class="col">
      <h4 class="mb-3"></h4>
      <form [(formGroup)]="form" (ngSubmit)="onSubmit()" [ngClass]="{ 'was-validated': validated }"
        *ngIf="form.value.passport" class="needs-validation" novalidate>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="inputPassport">Passport / Citizen identity number</label>
              <div class="input-group mt-3 mb-3">
                <select [(ngModel)]="type" [ngModelOptions]="{ standalone: true }" id="selectPassport" tabindex="2"
                  disabled>
                  <option value="" disabled>Please select type</option>
                  <option value="Citizen identity number">Citizen identity number</option>
                  <option value="Passport">Passport</option>
                </select>
                <input type="text" class="form-control" id="inputPassport" placeholder="AA000000 Or 0111122222334"
                  formControlName="passport" required disabled />
                <div class="invalid-feedback">
                  Please enter your Passport like AA000000 or Citizen identity
                  number like 0111122222334.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="inputEmployeeId">Employee ID</label>
          <input type="number" class="form-control" id="inputEmployeeId" placeholder="000000"
            formControlName="employee_no" maxlength="6" disabled />
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="inputFirstname">Firstname
              <abbr class="text-danger" title="This is required">*</abbr></label>
            <input type="text" class="form-control" id="inputFirstname" placeholder="" formControlName="firstname"
              value="" required />
            <div class="invalid-feedback">
              Please enter Firstname.
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label for="inputLastname">Lastname
              <abbr class="text-danger" title="This is required">*</abbr></label>
            <input type="text" class="form-control" id="inputLastname" placeholder="" formControlName="lastname"
              value="" required />
            <div class="invalid-feedback">
              Please enter Lastname.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="form-group">
              <label for="inputPosition">Position
                <abbr class="text-danger" title="This is required">*</abbr></label>
              <select data-placeholder="Choose a Position" class="form-control" tabindex="2" formControlName="position"
                id="selectPosition" required>
                <option value=""></option>
                <option id="positionFE" value="Junior Front End Developer">Junior Front End Developer</option>
                <option id="positionBE" value="Junior Back End Developer">Junior Back End Developer</option>
                <option id="positionQA" value="Junior QA">Junior QA</option>
                <option id="positionPM" value="Project Manager">Project Manager</option>
                <option id="positionBA" value="Business Analysis">Business Analysis</option>
                <option id="positionSM" value="Scrum Master">Scrum Master</option>
              </select>
            <div class="invalid-feedback">
              Please enter Position.
            </div>
          </div>
        </div>

          <div class="col-md-6 mb-3">
            <div class="form-group">
              <label for="inputStartDate">Start Date
                <abbr class="text-danger" title="This is required">*</abbr></label>
              <input class="form-control" type="date" data-date-format="dd/mm/yyyy" id="inputStartDate"
                formControlName="start_date" required />
              <div class="invalid-feedback">
                Please enter Start Date.
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="form-group">
              <label for="inputEmail">Email
                <abbr class="text-danger" title="This is required">*</abbr></label>
              <input type="email" class="form-control" id="inputEmail" placeholder="firstname.lastname@allianz.com"
                formControlName="email" required />
              <div class="invalid-feedback">
                Please enter Email.
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <div class="form-group">
              <label for="inputPhone">Phone
                <abbr class="text-danger" title="This is required">*</abbr></label>
              <input type="tel" placeholder="+66012345678" pattern="\+[0-9]{2}[0-9]{9}" class="form-control"
                name="inputPhoneNumber" id="inputPhone" formControlName="phone" required />
              <div class="invalid-feedback">
                Please enter phone number like +00123456789.
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <input id="btnSave" type="submit" class="btn btn-success btn-lg btn-block" value="Save"
              [disabled]="canPressButton()" />
          </div>
          <div class="col-md-6 mb-3">
            <button id="btnCancel" class="btn btn-outline-dark btn-lg btn-block" [routerLink]="['/form']">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>